<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jimisun.simplesharddata.mapper.SlaveMapper">


    <insert id="copyData" parameterType="java.util.Map">
        INSERT
        INTO ${tableName} (`ID`, `xxx`)
        VALUES (#{ID}, #{xxx},);

    </insert>

</mapper>
